{% extends "layout.html" %}

{% block title %}New Post{% endblock %}

{% block heading %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

{% endblock %}

{% block content %}

    <h1 class="texty">Create a New Chicken Post</h1>
		<br>
	{% if logged_in %}

  <h1>Home</h1>
  <h1>Create a New Forum Post</h1>

  <div class="wrap">
    <div class="form">
     


    <form method="POST">

        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br><br>

        <label for="content">Content:</label><br>
        <textarea id="content" name="content" rows="5" required></textarea><br><br>

        <label for="latitude">Latitude:</label><br>
        <input type="text" id="latitude" name="latitude"><br><br>
		
		<label for="longitude">Longitude:</label><br>
        <input type="text" id="longitude" name="longitude"><br><br>

        <button type="submit">Post</button>
		
    </form>
	{% else %}
        <p>You need to <a href="{{ url_for('login') }}">login with GitHub</a> to create a post.</p>
    {% endif %}
    <br>


        
        
    
    </div>

    <div class="map-container">
      <h2>Select a Location (optional)</h2>
      <div id="map"></div>
    </div>
  </div>

  <br>
  <a href="/">Back to Home</a>

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script>
    window.addEventListener('load', function() {
      let mapOptions = {
        center: [51.958, 9.141],
        zoom: 10
      }
      
      let map = L.map('map', mapOptions);
      
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
      
      setTimeout(() => {
        map.invalidateSize();
      }, 100);
      
      map.on('click', (event) => {
        map.eachLayer((layer) => {
          if (layer instanceof L.Marker) {
            map.removeLayer(layer);
          }
        });
        L.marker([event.latlng.lat, event.latlng.lng]).addTo(map);
        document.getElementById('latitude').value = event.latlng.lat.toFixed(6);
        document.getElementById('longitude').value = event.latlng.lng.toFixed(6);
      });
    });
  </script>
{% endblock %}